<div id="bodyProductos" class="container-fluid">
  {{#if admin}}
  <nav class="row col-12 pt-4">
    <div class="nav nav-tabs nav-underline d-flex justify-content-center align-items-center animate__animated animate__fadeIn animate__slow" id="nav-tab" role="tablist">
      <button class="nav-link active ps-4 pe-4" id="nav-crearProducto-tab" data-bs-toggle="tab" data-bs-target="#nav-crearProducto" type="button" role="tab" aria-controls="nav-crearProducto" aria-selected="true">CREAR PRODUCTO</button>
      <button class="nav-link ps-4 pe-4" id="nav-modificarProducto-tab" data-bs-toggle="tab" data-bs-target="#nav-modificarProducto" type="button" role="tab" aria-controls="nav-modificarProducto" aria-selected="false" disabled>MODIFICAR PRODUCTO</button>
      <button class="nav-link ps-4 pe-4" id="nav-borrarProducto-tab" data-bs-toggle="tab" data-bs-target="#nav-borrarProducto" type="button" role="tab" aria-controls="nav-borrarProducto" aria-selected="false">BORRAR PRODUCTO</button>
      <button class="nav-link ps-4 pe-4" id="nav-modificarEstadoProducto-tab" data-bs-toggle="tab" data-bs-target="#nav-modificarEstadoProducto" type="button" role="tab" aria-controls="nav-modificarEstadoProducto" aria-selected="false">MODIFICAR ESTADO PRODUCTO</button>
    </div>
  </nav>
  
  <div class="row col-12 tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active formulariosProductos shadow animate__animated animate__fadeIn animate__slow" id="nav-crearProducto" role="tabpanel" aria-labelledby="nav-crearProducto-tab" tabindex="0">
      <div class="p-4">
        <form id="createProductForm">
          <div class="row">
            <div class="col-2 pe-4">
              <label for="titulo" class="form-label pb-2">TITULO</label>
              <input type="text" class="form-control" name="titulo" id="titulo" required/>
            </div>
            <div class="col-4 pe-4">
              <label for="descripcion" class="form-label pb-2">DESCRIPCION</label>
              <input type="text" class="form-control" name="descripcion" id="descripcion" required/>
            </div>
            <div class="col-2 pe-4">
              <label for="precio" class="form-label pb-2">PRECIO</label>
              <input type="number" class="form-control" name="precio" placeholder="1234.54" id="precio" required/>
            </div>
            <div class="col-2 pe-4">
              <label for="stock" class="form-label pb-2">STOCK</label>
              <input type="number" class="form-control" name="stock" placeholder="23" id="stock" required/>
            </div>
            <div class="col-2">
              <label for="categoria" class="form-label pb-2">CATEGORIA</label>
              <select name="categoria" class="form-select" id="categoria" required>
                <option selected>Categoria 1</option>
                <option>Categoria 2</option>
                <option>Categoria 3</option>
                <option>Categoria 4</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-8 pe-4">
              <label for="miniatura" class="form-label pb-2">MINIATURA</label>
              <input type="text" class="form-control" name="miniatura" placeholder="url" id="miniatura" required/>
            </div>
            <div class="col-2 pe-4">
              <label for="codigo" class="form-label pb-2">CODIGO</label>
              <input type="text" class="form-control" name="codigo" placeholder="FD42" id="codigo" required/>
            </div>
            <div class="col-2 pt-4">
              <button type="submit" class="btn btn-success p-2 fw-bold d-flex flex-row" id="botonCrearProducto">
                <span class="material-symbols-outlined">done</span><p>CREAR PRODUCTO</p>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>    
    <div class="tab-pane fade formulariosProductos shadow animate__animated animate__fadeIn animate__slow" id="nav-modificarProducto" role="tabpanel" aria-labelledby="nav-modificarProducto-tab" tabindex="0"></div>
    <div class="tab-pane fade formulariosProductos shadow animate__animated animate__fadeIn animate__slow" id="nav-borrarProducto" role="tabpanel" aria-labelledby="nav-borrarProducto-tab" tabindex="0">
      <div class="p-4">
        <form id="eliminateProductForm">
          <div class="row">
            <div class="col-8 pe-4">
              <label for="idProducto" class="form-label pb-2">ID DEL PRODUCTO</label>
              <input type="text" class="form-control" name="idProducto" id="idProducto" placeholder="1" required />
            </div>
            <div class="col-4 pt-4">
              <button type="submit" class="btn btn-danger p-2 fw-bold d-flex flex-row" id="botonEliminarProducto">
                <span class="material-symbols-outlined">delete</span><p>ELIMINAR PRODUCTO</p></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane fade formulariosProductos shadow animate__animated animate__fadeIn animate__slow" id="nav-modificarEstadoProducto" role="tabpanel" aria-labelledby="nav-modificarEstadoProducto-tab" tabindex="0">
      <div class="p-4">
        <form id="modificarEstadoProductoForm">
          <div class="row">
            <div class="col-4 pe-4">
              <label for="idProductoEstadoModificado" class="form-label pb-2">ID DEL PRODUCTO</label>
              <input type="text" class="form-control" name="idProductoEstadoModificado" id="idProductoEstadoModificado" placeholder="1" required />
            </div>
            <div class="col-4 pe-4">
              <label for="estadoProductoEstadoModificado" class="form-label pb-2">ESTADO DEL PRODUCTO</label>
              <select name="estadoProductoEstadoModificado" class="form-select" id="estadoProductoEstadoModificado" required>
                <option selected>Activado</option>
                <option>Desactivado</option>
              </select>
            </div>
            <div class="col-4 pt-4">
              <button type="submit" class="btn btn-primary p-2 fw-bold d-flex flex-row" id="botonModificarEstadoProducto">
                <span class="material-symbols-outlined">autorenew</span><p>MODIFICAR ESTADO</p></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="row col-12 pt-4">
    <div class="col-12 tituloSeccion text-center">
      <h3 class="m-0">LISTADO DE PRODUCTOS</h3>
    </div>
    <div class="row col-12 p-4 row row-cols-1 row-cols-md-6 g-4 animate__animated animate__fadeIn" id="tablaProductos">
    </div>
  </div>
</div>