<main id="bodyCrearProducto" class="container-fluid">
  <div class="tituloSeccion d-flex justify-content-center align-items-center">
    <h3 class="m-0">CREAR UN NUEVO PRODUCTO</h3>
  </div>

  <div class="formulario d-flex justify-content-center align-items-center">
    <div class="p-4 border rounded shadow">
<form id="createProductForm" class="text-center">
    <div class="col-12">
      <label for="title" class="form-label pb-2">TITLE</label>
      <input type="text" class="form-control" name="title" id="title" required/>
    </div>
    <div class="col-12">
      <label for="description" class="form-label pb-2">DESCRIPTION</label>
      <input type="text" class="form-control" name="description" id="description" required/>
    </div>
    <div class="col-12">
      <label for="price" class="form-label pb-2">PRICE</label>
      <input type="number" class="form-control" name="price" placeholder="1234.54" id="price" required/>
    </div>
        <div class="col-12">
      <label for="thumbnail" class="form-label pb-2">THUMBNAIL</label>
      <input type="text" class="form-control" name="thumbnail" placeholder="url" id="thumbnail" required/>
    </div>
    <div class="col-12">
      <label for="code" class="form-label pb-2">CODE</label>
      <input type="text" class="form-control" name="code" placeholder="FD42" id="code" required/>
    </div>
    <div class="col-12">
      <label for="stock" class="form-label pb-2">STOCK</label>
      <input type="number" class="form-control" name="stock" placeholder="23" id="stock" required/>
    </div>
    <div class="col-12">
      <label for="category" class="form-label pb-2">CATEGORY</label>
      <select name="category" class="form-select" id="category" required>
        <option selected>Categoria 1</option>
        <option>Categoria 2</option>
        <option>Categoria 3</option>
        <option>Categoria 4</option>
      </select>
    </div>
    <div class="pt-4">
      <button type="submit" class="btn btn-success p-2 fw-bold" id="botonCrearProducto">CREAR PRODUCTO</button>
    </div>
  </form>
    </div>
</div>
</main>
