<main id="bodyDeleteProducts" class="container-fluid">
    <div class="tituloSeccion d-flex justify-content-center align-items-center">
        <h3 class="m-0">ELIMINAR UN PRODUCTO EXISTENTE</h3>
    </div>
    <div class="formulario d-flex justify-content-center align-items-center">
        <div class="p-4 border rounded shadow">
            <form id="eliminateProductForm" class="text-center">
                <div>
                    <label for="idProducto" class="form-label pb-2">ID DEL PRODUCTO</label>
                    <input type="text" class="form-control" name="idProducto" id="idProducto" placeholder="1" required />
                </div>
                <div class="pt-4">
                    <button type="submit" class="btn btn-success p-2 fw-bold" id="botonEliminarProducto" >ELIMINAR PRODUCTO</button>
                </div>
            </form>
        </div>
    </div>
</main>