<div id="bodyRealTimeProductos" class="container-fluid">
      <div class="tituloSeccion d-flex justify-content-center align-items-center">
        <h3 class="m-0">PRODUCTOS EN TIEMPO REAL</h3>
    </div>
    <div class="p-4">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">PRICE</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">CODE</th>
        <th scope="col">STOCK</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody class="table-group-divider" id="tablaRealTimeProducts">
    </tbody>
  </table>
</div>
</div>
