* {
    margin: 0 !important;
    padding: 0 !important;
}

#navbar,#footer {
    min-height: 5vh !important;
}

#bodyHome, #bodyProductos, #bodyCrearProducto, #bodyDeleteProducts, #bodyMensajes {
    min-height: 90vh !important;
}

.tituloSeccion {
    height: 5vh;
}

.tarjetasChat {
    max-width: 50vw;
}

.horaChatEnviado {
    font-size: 0.75rem !important;
}

.textoProducto {
    font-size: 0.75rem;
}

.formulariosProductos {
    min-height: 25vh;
}