<div id="bodyticket" class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <p class="fw-bold">Numero de ticket: {{codigoCompra}}</p>
        <p>Comprador: {{comprador}}</p>
        <p>Fecha de la compra: {{fechaDeCompra}}</p>
        <p>Monto de la compra: ${{montoCompra}}</p>
    </div>
</div>