<div id="bodyHome" class="container-fluid animate__animated animate__fadeIn animate__slow">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p class="fw-bold">INSTRUCTIVO</p>
    <p class="pb-4">El menu principal del Nav cuenta con las siguientes rutas</p>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start p-2">
        <div class="ms-2 me-auto">
          <div class="fw-bold">HOME</div>
          Esta es la pagina principal del servidor del router views.
        </div>
      </li>
      <li class="list-group-item p-2">
        <div class="ms-2 me-auto col-12">
          <div class="fw-bold">SISTEMA DE LOGIN Y REGISTRO</div>
          Ahora la pagina cuenta con un sistema de login y registro de usuarios. Una vez ingresado con una cuenta podra habilitar las otras opciones del menu segun su rol.
        </div>
        <div class="col-12">
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start p-2">
            <div class="ms-2 me-auto">
              <div class="fw-bold">PRODUCTOS</div>
              <p>Aqui encontrara los productos en el servidor. Y ademas si es admin encontrara el formulario para crear, borrar y modificar el estado de un producto.</p>
              <ul class="list-group p-2">
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Crear un producto</li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Modificar datos un producto <span class="badge bg-danger rounded-pill p-2">A implementar</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Eliminar un producto</li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Modificar el estado un producto</li>
              </ul>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start p-2">
            <div class="ms-2 me-auto">
              <div class="fw-bold">CARRITOS</div>
              <p>Aqui encontrara todos los carritos existentes en el servidor solo siendo admin podra ver este menu, asi como tambien el formulario para crear un carrito, agregar un producto al carrito, borrar un producto del carrito y vaciar un carrito.</p>
              <ul class="list-group p-2">
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Crear un carrito</li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Agregar un producto al carrito</li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Eliminar un producto del carrito</li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">Vaciar un producto</li>
              </ul>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start p-2">
            <div class="ms-2 me-auto">
              <div class="fw-bold">MENSAJES</div>
              Aqui encontrara los mensajes generados por los usuarios. Se le pedira un correo y un mensaje para enviar.
            </div>
          </li>
        </ol>
        </div>
      </li>
    </ol>
  </div>
</div>
