<div id="bodyDocumentacionApi" class="container-fluid animate__animated animate__fadeIn animate__slow">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="fw-bold">DOCUMENTACION</p>
    </div> 
    <div class="text-start ps-4 pb-4">
        <p>Bienvenido a la API. Aqui podra encontrar toda la informacion acerca de la misma que se encuentra en desarrollo.</p>
        <p>Actualmente cuenta con 5 rutas de accesos para sus distintas necesidades. A traves de las cuales puedes trabajar con POSTMAN, THUNDERCLIENT u otro similar.</p>
    </div>
    <div class="pt-4">
        <p class="fw-bold ps-4">SECCION CARRITOS</p>
    </div>
    <div class="ps-4 pe-4">
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/carritos</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Lista todos los carritos existentes en el servidor.</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/carritos/:cid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Muesta el carrito segun el ID pasado en (:cid) si existe.</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-primary rounded-pill p-2 m-2">POST</span>
                <p class="ps-2 m-2 fst-italic">/api/carritos/:cid/productos/:pid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Agrega un producto si existe segun su ID (:pid) al carrito indicado segun su ID (:cid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-info rounded-pill p-2 m-2">PUT</span>
                <p class="ps-2 m-2 fst-italic">/api/carritos/:cid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Agrega varios productos pasados en un array en formato JSON al carrito indicado segun su ID (:cid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-info rounded-pill p-2 m-2">PUT</span>
                <p class="ps-2 m-2 fst-italic">/api/carritos/:cid/productos/:pid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Cambia la cantidad del producto pasado segun su ID (:pid) al carrito indicado segun su ID (:cid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-danger rounded-pill p-2 m-2">DELETE</span>
                <p class="ps-2 m-2 fst-italic">/api/carritos/:cid/productos/:pid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Elimina el producto pasado segun su ID (:pid) al carrito indicado segun su ID (:cid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-danger rounded-pill p-2 m-2">DELETE</span>
                <p class="ps-2 m-2 fst-italic">/api/carritos/:cid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Vacia el carrito indicado segun su ID (:cid).</p>
            </div>
        </div>
    </div>
    <div class="pt-4">
        <p class="fw-bold ps-4">SECCION PRODUCTOS</p>
    </div>
    <div class="ps-4 pe-4">
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/productos</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Lista todos los productos existentes en el servidor.</p>
                <p class="card-text ps-2">Puedes pasarle querys como:</p>
                <p class="card-text ps-2 fst-italic">limit - page - sort (asc o des) para ordenar por precio</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/productos/:pid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Muestra el producto indicado segun su ID (:pid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-primary rounded-pill p-2 m-2">POST</span>
                <p class="ps-2 m-2 fst-italic">/api/productos</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Crea un producto ingresando los datos de:</p>
                <p class="card-text ps-2 fst-italic">titulo - descripcion - precio - codigo - stock - categoria</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-info rounded-pill p-2 m-2">PUT</span>
                <p class="ps-2 m-2 fst-italic">/api/productos/:pid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Modifica los datos del producto segun su ID (:pid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-danger rounded-pill p-2 m-2">DELETE</span>
                <p class="ps-2 m-2 fst-italic">/api/productos/:pid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Elimina el producto indicado segun su ID (:pid).</p>
            </div>
        </div>
    </div>
        <div class="pt-4">
        <p class="fw-bold ps-4">SECCION USUARIOS</p>
    </div>
    <div class="ps-4 pe-4">
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/usuarios</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Lista todos los usuarios existentes en el servidor.</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/usuarios/:uid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Muestra al usuario si existe segun su ID pasado (:uid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-info rounded-pill p-2 m-2">PUT</span>
                <p class="ps-2 m-2 fst-italic">/api/usuarios/:uid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Modifica los datos del usuario segun su ID (:uid).</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-danger rounded-pill p-2 m-2">DELETE</span>
                <p class="ps-2 m-2 fst-italic">/api/usuarios/:uid</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Elimina el usuario indicado segun su ID (:uid).</p>
            </div>
        </div>
    </div>
    </div>
        <div class="pt-4">
        <p class="fw-bold ps-4">SECCION MENSAJES</p>
    </div>
    <div class="ps-4 pe-4">
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/mensajes</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Lista todos los mensajes existentes en el servidor.</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-primary rounded-pill p-2 m-2">POST</span>
                <p class="ps-2 m-2 fst-italic">/api/mensjaes</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Crea un mensaje con los datos pasados</p>
                <p class="card-text ps-2 fst-italic">email - mensaje</p>
            </div>
        </div>
    </div>
    </div>
        <div class="pt-4">
        <p class="fw-bold ps-4">SECCION SESIONES</p>
    </div>
    <div class="ps-4 pe-4">
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-primary rounded-pill p-2 m-2">POST</span>
                <p class="ps-2 m-2 fst-italic">/api/sesion/login</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Crea un login con los datos pasados</p>
                <p class="card-text ps-2">Si el usuario esta registrado inicia sesion</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-primary rounded-pill p-2 m-2">POST</span>
                <p class="ps-2 m-2 fst-italic">/api/sesion/signUp</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Registra un usuario con los datos pasados</p>
                <p class="card-text ps-2">Si se logra registrar devuelve a la seccion login</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/sesion/github</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Ingresa una sesion con los datos de una cuenta en GitHub.</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/sesion/logout</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Cierra la sesion iniciada.</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header d-flex bg-dark-subtle">
                <span class="badge bg-success rounded-pill p-2 m-2">GET</span>
                <p class="ps-2 m-2 fst-italic">/api/sesion/current</p>
            </div>
            <div class="card-body">
                <p class="card-text ps-2">Muestra los datos del usuario iniciado.</p>
            </div>
        </div>
    </div>
</div>