<footer id="footer" class="h-100 content-fluid bg-dark d-flex justify-content-center align-items-center">
  <div class="h-auto d-flex flex-row text-light gap-4">
    <p class="m-0">© Facundo Heredia</p>
    <p class="m-0">CODERHOUSE - BackEnd - 2023 - Comision 27285 - Tutor: Luciano Pennacchioni</p>
  </div>
</footer>
